.ready_controller{
  width: 89.5%;
  height: 485px;    
  top: -330px;
  position: relative;
  // background: orange;
  .emo{
    color: #abacb1;
    position: relative;
    left: 45%;
    top: 10%;
  }
  .msg{
    position: relative;
    font-size: 20px;
    top: 15%;
    border: 0;
    text-align: center;
    color: #abacb1;
    width: 100%;
  }
}