.top_container{
  background-color: #f4f6ff;
  .top_box{
    width: 1200px;
    height: 290px;
    display: flex;
    margin: 0 auto;
    position: relative;
    .top_left{
      height: 100%;
      display: flex;
      align-items: center;
      position: absolute;
      left: 0;
      .img_box {
        width: 200px;
        height: 200px;
        border-radius: 50%;
        background-color: white;
      }
    }
    .top_right {
      height: 100%;
      position: absolute;
      left: 300px;
      top: 50%;
      transform: translateY(-25%);
      .member_name {
        text-align: left;
        .store_name{
          font-weight: bold;
          font-size: 30px;
        }
       }
       .order_controller{
        width: 400px;
        .order{
          display: flex;
          width: 100%;
          justify-content: space-between; 
          margin-top: 20px;
          li{
            margin-top: 10px;
          }
         }
       }
       
    }
  }
}

