@import './_reset';
@font-face {
  font-family: 'YdestreetB';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2110@1.0/YdestreetB.woff2')
    format('woff2');
  font-weight: normal;
  font-style: normal;
}
.all_container.scrolled {
  background-color: rgba(255, 255, 255, 0.8);
  transition: all 0.3s;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.all_container {
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  transition: all 0.3s;
  .header_main_container {
    display: flex;
    height: 80px;
    .header_main_menu {
      width: 34vw;
      height: 80px;
      margin: 0 auto;
      position: relative;
      top: -10px;
      ul {
        height: 100%;
        display: flex;
        li {
          float: left;
          height: 80px;
          line-height: 80px;
          padding: 0;
          margin-right: 35px;
          position: relative;
          a {
            font-weight: 400;
            font-size: 18px;
            color: #2d2f43;
          }
        }
      }
    }
  }
  .header_logo {
    position: relative;
    top: -15px;
    a {
      .header_logo_img {
        width: 157px;
        height: 80px;
        margin: 0 auto;
      }
    }
  }
  .header_icon_menu {
    width: 34vw;
    height: 80px;
    margin: 0 auto;
    position: relative;
    top: -13px;
    ul {
      height: 100%;
      float: right;
      display: flex;
      align-items: center;
      li {
        a,
        p {
          float: left;
          margin-left: 40px;
          color: #2d2f43;
          font-size: 30px;
          cursor: pointer;
          .header_user_icon,
          .header_comment_icon {
            stroke-width: 20px;
            stroke: #fff;
          }
          .header_search_icon {
            stroke-width: 35px;
            stroke: #fff;
          }
        }
      }
    }
  }
}

.header_sub_container {
  .header_sub_menu {
    width: 1200px;
    margin: 0 auto;
    height: 30px;
    .header_sub_menu_ul {
      float: right;
      .header_sub_menu_li {
        float: left;
        position: relative;
        z-index: 2;
        padding-left: 30px;
        a {
          line-height: 30px;
          font-size: 13px;
          font-weight: 500;
          color: #9d979e;
          background: none;
          letter-spacing: 0.5px;
          transition: all 0.2s;
          &:hover {
            color: #2d2f43;
            transition: all 0.2s;
          }
        }
      }
      .header_dropdown_menu{
        padding-left: 20px;
        width: 100px;
        ul{
          height: 30px;
          line-height: 30px;
          font-size: 13.5px;
          color: #3d435f;
          cursor: pointer;
          background: none;
          letter-spacing: 0.5px;
          transition: all .2s;
          font-weight: 700;
          .dropdown_icon{ 
            stroke-width: 25px;
            stroke: #f4f6ff;
            color: black;
          }
        }
      }
    }
  }
}

// 검색창 토글
.hide_search {
  display: none;
}
.show_search {
  position: absolute;
  z-index: 3;
  top: 110px;
  width: 100vw;
  background-color: #f4f6ff;
  .search-container {
    width: 1200px;
    margin: 0 auto;
    position: relative;
    // 검색창
    .search-div {
      padding-top: 10vh;
      width: 40vw;
      margin: 0 auto;
      border-bottom: 2px solid #2d2f43;
      .search-input {
        font-size: 1.3rem;
        height: 5vh;
        width: 37vw;
        border: 0;
        background-color: transparent;
        &:focus {
          outline: none;
        }
      }
      .search_btn {
        background-color: transparent;
        border-style: none;
        .header_search_icon {
          color: #67687e;
          stroke-width: 35px;
          font-size: 30px;
          stroke: #f4f6ff;
          cursor: pointer;
        }
      }
    }

    // 키워드(해시태그)
    .keyword {
      margin: 0 auto;
      display: flex;
      width: 40.5vw;
      height: 10vh;
      p {
        width: 5vw;
        height: 3vh;
        line-height: 3vh;
        background-color: #3d435f;
        color: #f5f5f5;
        border-radius: 30px;
        font-size: 0.8rem;
        margin-right: 1vw;
        margin-top: 2vh;
        &:hover {
          background-color: #f4f6ff;
          color: #2d2f43;
          border: 1px solid #3d435f;
          cursor: pointer;
        }
      }
      // 닫기 버튼
      .close {
        width: 2.2rem;
        height: 2.2rem;
        position: absolute;
        top: 4vh;
        right: 1.2vw;
        cursor: pointer;
        &::after,
        &::before {
          position: absolute;
          right: 0.9vw;
          content: ' ';
          height: 2.2rem;
          width: 2px;
          background-color: #2d2f43;
        }
        &::after {
          transform: rotate(-45deg);
        }
        &::before {
          transform: rotate(45deg);
        }
      }
    }
    .recent-container {
      width: 40vw;
      margin: 0 auto;
      // 최근 검색어
      .recent-search {
        margin-bottom: 4vh;
        text-align: left;
        color: #2d2f43;
        line-height: 4vh;
        p {
          font-weight: 700;
          font-size: 1.1rem;
        }
        ul {
          display: flex;
          width: 40vw;

          &:hover {
            background-color: #dbdde3;
          }
          li {
            padding-right: 25px;
            color: #888888;
          }
          .no-recent-search {
            color: #888888;
          }
          .delete-recent-search {
            border: 0;
            background-color: transparent;
            font-size: 0.9rem;
            color: #888888;
            flex-grow: 1;
            text-align: right;
            padding-right: 10px;
            cursor: pointer;
          }
        }
      }
      // 최근 본 상품
      .recent-look-product {
        text-align: left;
        line-height: 4vh;
        p {
          font-weight: 700;
          font-size: 1.1rem;
        }
        ul {
          display: flex;
          width: 40vw;
          color: #2d2f43;

          li {
            padding-right: 25px;
            margin-bottom: 1vh;
            color: #888888;
          }
        }
        img {
          width: 8vw;
          height: 8vw;
          border: 1px solid #2d2f43;
          border-radius: 5px;
          margin-right: 2.6vw;
          margin-bottom: 5vh;
          &:last-child {
            margin-right: 0;
          }
        }
      }
    }
  }
}
