@import url('https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'NanumSquare', sans-serif;
}

ul,
ol {
  list-style: none;
}
a {
  text-decoration: none;
  color: #777;
}

.minMax {
  margin: 0 auto;
  width: 1200px;
}