@import url('https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'NanumSquare', sans-serif;
}

ul,
ol {
  list-style: none;
}
a {
  text-decoration: none;
  color: #777;
}

.minMax {
  margin: 0 auto;
  width: 1200px;
}

//scrollBar
div::-webkit-scrollbar {
  width: 6px;  /* 스크롤바의 너비 */
  border-radius: 10px;
}

div::-webkit-scrollbar-thumb {
  height: 30%; /* 스크롤바의 길이 */
  background: rgba(61, 67, 95, .7); /* 스크롤바의 색상 */
  border-radius: 10px;
}

div::-webkit-scrollbar-track {
  background: transparent; 
  border-radius: 50px;
  /*스크롤바 뒷 배경 색상*/
}