@keyframes slideDown {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideUp {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(-100%);
    opacity: 0;
  }
}

.product_container {
  top: 120px;
  position: relative;
  height: 100%;
  margin: 0 auto 50px;
  .bottom_box {
    display: flex;
    width: 1200px;
    margin: 0 auto;
    margin-top: 100px;
    // background-color: orange;
    .left_box {
      width: 20%;
      .left_controller {
        width: 170px;
        // background-color: white;
        text-align: left;
      }
      .product {
        font-size: 20px;
        font-weight: 700;
        color: #2d2f45;
        border-bottom: 2px solid #2d2f45;
        height: 44px;
        line-height: 44px;
      }

      li {
        position: relative;
        font-size: 14px;
        font-weight: 400;
        color: #2d2f45;
        height: 33px;
        line-height: 33px;
        padding-left: 17px;
        z-index: 3;
        padding-left: 20px;
        :hover {
          font-weight: 700;
        }
      }

      .category {
        cursor: pointer;
        font-size: 16px;
        font-weight: 600;
        color: #2d2f45;
        padding: 15px 0;
      }
      ul {
        height: 0;
        transition: height 0.7s ease-in-out;
        &.show {
          height: 180px;
          overflow: hidden;
        }
        &.hide {
          transition: height 0.5s ease-in;
        }
      }
    }
    .right_box {
      width: 80%;
      .right_controller {
        text-align: left;
        .content {
          width: 100%;
          height: 100%;
          .product_grid_container {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-gap: 25px;

            .itemContainer {
              position: relative;
              padding-bottom: 80px;

              .item {
                height: 250px;
                width: 100%;
              }
              .item_top_desc {
                display: flex;
                position: absolute;
                width: 100%;
                padding: 4px;
                align-items: center;
                justify-content: center;
                .item_desc {
                  width: 88%;
                  .category_desc {
                    font-size: 13px;
                    color: #a09b9b;
                    margin-bottom: 3px;
                  }
                  .title_desc {
                    font-size: 18px;
                    margin-bottom: 5px;
                  }
                  .price_desc {
                    font-size: 14px;
                    font-weight: 900;
                  }
                }
                .heart_icon {
                  width: 12%;
                  font-size: 20px;
                  text-align: center;
                  cursor: pointer;
                }
              }
            }
          }
          .pagination {
            display: flex;
            justify-content: center;
            padding: 50px 0;

            button {
              cursor: pointer;
              border: none;
              background-color: #f4f6ff;
              border-radius: 50%;
              margin: 0 10px;
              width: 40px;
              height: 40px;
              font-size: 16px;
              font-weight: 900;
              color: #2d2f45;
            }
            .select {
              background-color: #2d2f45;
              color: #f4f6ff;
            }
            // .deselected {
            //   font-size: 17px;
            //   font-weight: 900;
            //   background-color: #2d2f45;
            //   color: #f4f6ff;
            // }
          }
        }
      }
    }
  }
}
