@keyframes slideDown {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideUp {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(-100%);
    opacity: 0;
  }
}

.product_container {
  top: 120px;
  position: relative;
  height: 100%;
  margin: 0 auto 50px;
  .bottom_box {
    display: flex;
    width: 1200px;
    margin: 0 auto;
    margin-top: 100px;
    // background-color: orange;
    .left_menu_box {
      width: 20%;
      .left_menu {
        width: 170px;
        // background-color: white;
        text-align: left;
      }
      .product {
        display: flex;
        font-size: 20px;
        font-weight: 900;
        color: #2d2f45;
        border-bottom: 2px solid #2d2f45;
        height: 44px;
        align-content: flex-end;
        flex-wrap: wrap;
        padding: 10px 0;
      }

      li {
        position: relative;
        font-size: 14px;
        font-weight: 400;
        color: #777;
        height: 33px;
        line-height: 33px;
        padding-left: 17px;
        z-index: 3;
        cursor: pointer;
        padding-left: 20px;
        &:hover {
          font-weight: 700;
          color: #2d2f45;
        }
      }

      .category_menu {
        display: flex;
        align-items: center;
        justify-content: space-between;
        cursor: pointer;
        .category {
          font-size: 16px;
          font-weight: 600;
          color: #2d2f45;
          padding: 15px 0;
        }
        .slide_up {
          color: #a09b9b;
          transition: 0.7s;
        }
        .slide_down {
          color: #2d2f45;
          transform: rotate(-180deg);
          transition: 0.7s;
        }
      }

      ul {
        height: 0;
        transition: height 0.7s ease-in-out;
        &.show {
          height: 180px;
          overflow: hidden;
          .selected_option {
            color: #2d2f45;
            font-weight: 900;
          }
        }
        &.hide {
          transition: height 0.5s ease-in;
        }
      }
    }
    .right_box {
      width: 80%;
      .right_controller {
        text-align: left;
        .content {
          width: 100%;
          height: 100%;
          .product_grid_container {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-gap: 25px;

            .not_items {
              display: flex;
              flex-direction: column;
              align-items: center;
              justify-content: center;
              text-align: center;
              grid-column: 1 / -1;
              height: 300px;

              p {
                margin-top: 20px;
                font-size: 20px;
                font-weight: 900;
                color: #2d2f45;
              }
            }

            .itemContainer {
              position: relative;
              padding-bottom: 80px;

              .item {
                height: 250px;
                width: 100%;
              }
              .no_image_div {
                height: 250px;
                width: 100%;
                .no_image {
                  display: flex;
                  flex-direction: column;
                  align-items: center;
                  justify-content: center;
                  text-align: center;
                  grid-column: 1 / -1;
                  height: 100%;
                  background-color: whitesmoke;
                }

                p {
                  margin-top: 20px;
                  font-size: 20px;
                  font-weight: 900;
                  color: #2d2f45;
                }
              }
              .item_top_desc {
                display: flex;
                position: absolute;
                width: 100%;
                padding: 4px;
                align-items: center;
                justify-content: center;
                .item_desc {
                  width: 88%;
                  .category_desc {
                    font-size: 13px;
                    color: #a09b9b;
                    margin-bottom: 3px;
                  }
                  .title_desc {
                    font-size: 18px;

                    color: #2d2f45;
                  }
                  .price_desc {
                    margin-top: 5px;
                    font-size: 14px;
                    font-weight: 900;
                  }
                }
                .heart_icon {
                  width: 12%;
                  font-size: 20px;
                  text-align: center;
                  cursor: pointer;
                }
              }
            }
          }

          .pagination {
            display: flex;
            justify-content: center;
            padding: 50px 0;

            button {
              cursor: pointer;
              border: none;
              background-color: #f4f6ff;
              border-radius: 50%;
              margin: 0 10px;
              width: 40px;
              height: 40px;
              font-size: 16px;
              font-weight: 900;
              color: #2d2f45;
            }
            .select {
              background-color: #2d2f45;
              color: #f4f6ff;
            }
          }
        }
      }
    }
  }
}
