@import "./_reset";

.swiper {
  background-color: #fff;
  height: 660px;

  //송민영 수정
  margin-top: 110px;
  .swiper-slide {
    img {
      width: 44vw;
      height: 600px;
      background-color: #bcbfda;
    }
  }
}
.swiper-button-prev,
.swiper-button-next {
  &::after {
    color: #2d2f43;
    position: absolute;
  }
}

.swiper-button-prev {
  &::after {
    left: 23vw;
  }
}
.swiper-button-next {
  &::after {
    right: 23vw;
  }
}

.swiper-pagination {
  .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    background-color: #999;
    opacity: 1;
    margin: 0 9px !important;
  }
  .swiper-pagination-bullet-active {
    transform: scale(1.3);
    border-radius: 5px;
    background-color: transparent;
    border: 1px solid #2d2f43;
  }
}

.view-more {
  color: #2d2f43;
  font-size: 1.2rem;
  position: absolute;
  z-index: 2;
  top: 750px;
  right: 28vw;
  .view-more-arrow {
    margin-left: 10px;
  }
}
