@import './_reset';

.all_container {
  position: relative;
  background-color: #fdedf1;
  z-index: 1;
  
}


.all_content{
  position: relative;
  // background-color: orange;
  width: 100%;
  height: 100%;
  strong {
    font-size: 35px;
    color: #2d2f45;
    font-weight: 750;
    margin-right: 15px;
    // vertical-align: middle;
    }
  .top_box{
    height: 290px;
    background-color: #f4f6ff;
    display: flex;
    .top_left{
      width: 35%;
      .img_box {
        width: 200px;
        height: 200px;
        border-radius: 50%;
        background-color: white;
        margin: auto;
        margin-top: 30px;
      }
    }
    .top_right {
      width: 65%;
      .member_name {
        position: absolute;
        top: 75px;
        left: 500px;
        
       }
       .order{
        display: flex;
        position: absolute;
        width: 40%;
        top: 130px;
        left: 500px;
        justify-content: space-between;
        li{
          margin-top: 10px;
        }
       }
    }
  }
  .bottom_box{
    display: flex;
    .left_box {
      width: 30%;
      .left_controller{
        width: 200px;
        background-color: white;
        margin: 50px 170px;
        text-align: left;
      }
      .my_page{
        font-size: 20px;
        font-weight: 700;
        color: #2d2f45;
        border-bottom: 2px solid #2d2f45;
        height: 44px;
        line-height: 44px;
      }
      ul {
        margin: 45px auto 0;
        li {
          position: relative;
          font-size: 14px;
          font-weight: 400;
          color: #2d2f45;
          height: 33px;
          line-height: 33px;
          padding-left: 17px;
          z-index: 3;
          padding-left: 20px;
          :hover {
            font-weight: 700;
          }
        }
      }
      .first_ul{
        margin :18px auto 0;
      }
      .first_li {
        font-size: 16px;
        font-weight: 600;
        color: #2d2f45;
        padding-left: 0;
      }
    }
    .right_box{
      width: 70%;
      .right_controller{
        text-align: left;
        width: 920px;
        margin-top: 50px;
        .title {
          font-size: 17px;
          font-weight: 700;
          color: #2d2f45;
          border-bottom: 2px solid #2d2f45;
          height: 44px;
          line-height: 44px;
          letter-spacing: -0.5px;
        }
        .content {
          width: 100%;
          height: 300px;
          margin-bottom: 30px;
        }
        .msg{
          border: 0;
          padding: 120px 0;
          font-size: 20px;
          text-align: center;
          color: #abacb1;
        }
      }
      
    }
  }
}
