.new_items_container {
  margin: 100px 0;
  width: 100%;
  height: 500px;
  background-color: #fff;

  .new_items_title {
    font-size: 40px;
    font-weight: 900;
    color: #3d435f;
  }
  $width: 80vw;
  .swiper-container {
    margin: 30px auto;
    height: calc(($width - 50px)/5 + 30px);
    width: $width;
    position: relative;

    .swiper-slide {
      height: calc(($width - 50px)/5);
      overflow: hidden;
      position: relative;
      &:hover {
        .img_desc {
          transform: translateY(-100%); /* 아래서 위로 이동하는 애니메이션 */
        }
      }
      .item_img {
        display: flex;
        // width: 100%;
        height: 100%;
        position: relative;
        cursor: pointer;
        background-color: #e6f2ff;
        color: #3d435f;

        object-fit: cover;
        flex: 1;
        top: 50%;
        // position: relative;
        left: 50%;
        transform: translate(-50%, -50%);
      }
      .no_image_div {
        width: 100%;
        height: 100%;
        .no_image {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          text-align: center;
          grid-column: 1 / -1;
          height: 100%;
        }

        p {
          margin-top: 20px;
          font-size: 20px;
          font-weight: 900;
          color: #2d2f45;
        }
      }

      .img_desc {
        height: 80px;
        background-color: #3d435fd4;
        color: #fff;
        transition: transform 0.7s;

        .img_text_desc {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          width: 100%;
          height: 80px;
          padding: 10px;

          .category_desc {
            height: 30%;
            color: #c8c8c8;
            font-size: 12px;
          }
          .title_desc {
            height: 35%;
            color: white;
            font-size: 15px;
          }
          .price_desc {
            height: 35%;
            color: white;
            font-weight: 900;
            font-size: 17px;
          }
        }
      }
    }
    .swiper-scrollbar {
      height: 2px;
      position: absolute;
      bottom: 0;
    }

    .swiper-button-prev,
    .swiper-button-next {
      &::after {
        color: #c9c9c9;
        position: absolute;
      }
    }

    .swiper-button-prev {
      &::after {
        left: 1vw;
      }
    }
    .swiper-button-next {
      &::after {
        right: 1vw;
      }
    }
  }
}
