.not_updating {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  p {
    margin-top: 30px;
    font-size: 20px;
    font-weight: 900;
    color: #2d2f45;
  }
  .not_updating_btn{
    display: flex;
    justify-content: center;
    .home_btn,.return_btn{
      width: 90px;
      height: 40px;
      line-height: 40px;
      background-color: #3d435f;
      color: #f4f6ff;
      border-radius: 5px;
      margin-top: 30px;
      transition: all .2s;
      &:hover{
        background-color: #2d2f45;
        transition: all .2s;
      }
    }
    .return_btn{
      margin-left: 15px;
    }
  }
}