@import "./_reset";

body {
  background-color: #fff;
}
.register {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 600px;
  margin: 50px auto;

  .register-box {
    padding: 60px 50px 30px 50px;
    border: 0.5px solid #555;
    background-color: white;

    .required {
      color: red;
      margin-right: 10px;
      height: 12px;
    }

    .info-top {
      display: flex;
      justify-content: space-between;
      border-bottom: 2px solid #555;
      font-size: 17px;
      padding-bottom: 10px;
      font-weight: 500;

      p {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
      }
    }

    .register-form {
      padding: 30px 0;

      .gender-info {
        display: flex;
        //justify-content: space-between;
        // flex-wrap: wrap;
        // align-content: center;
        margin-bottom: 30px;
        & > label {
          display: flex;
          flex-wrap: wrap;
          align-items: center;
          width: 200px;
        }
        .gender-input {
          display: inline-block;

          input {
          }
          & > label {
            padding: 0 10px;
          }
        }
      }

      .name-info,
      .birth-info,
      .tel-info,
      .id-info,
      .password-info,
      .nickName-info {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        align-content: center;
        margin-bottom: 30px;

        input {
          width: 300px;
          border: none;
          border-bottom: solid #aaaaaa 1px;
          background-color: transparent;
          &:focus {
            outline: none;
            border-bottom: 1px solid rgb(33, 90, 137);
          }
        }

        label {
          display: flex;
          flex-wrap: wrap;
          align-items: center;
          width: 150px;
        }

        .gender-input {
        }
      }

      .btn {
        cursor: pointer;
        background-color: transparent;
        border-radius: 30px;
        padding: 10px 30px;
        width: 200px;
        margin-top: 20px;
      }
      .cancel--btn {
        border: 1px solid #9f9f9f;
        margin-right: 5px;
        color: #333;
      }
      .join--btn {
        background-color: #9f9f9f;
        color: white;
        border: 1px solid #9f9f9f;
        margin-left: 5px;
      }
    }

    .kakao_naver_login {
      color: #333;
      display: flex;
      flex-basis: 100%;
      align-items: center;
      padding: 1vh 0;
      &:before {
        content: "";
        flex-grow: 1;
        height: 0.5px;
        background-color: #333;
        margin-right: 1vw;
      }
      &::after {
        content: "";
        flex-grow: 1;
        height: 0.5px;
        background-color: #333;
        margin-left: 1vw;
      }
    }

    .kakao_login {
      padding-top: 2vh;
      a {
        display: inline-block;
        width: 290px;
        height: 40px;
        line-height: 40px;
        border-radius: 30px;
        background-color: #f7e600;
        color: #000;
        border: none;
        font-size: 14px;
      }
    }
    .naver_login {
      padding-top: 1vh;
      a {
        display: inline-block;
        width: 290px;
        height: 40px;
        line-height: 40px;
        border-radius: 30px;
        background-color: #00c73c;
        color: #fff;
        border: none;
        font-size: 14px;
      }
    }
  }
}
