@import './_reset';
@import './hashtag.scss';
@import './address.scss';

.form_wrapper{
  padding-top: 16vh;
  .gender_cate_input{
    display: flex;
    .gender_select_input{
      width: 200px;
      float: left;
      text-align: left;
      border: 0;
      padding-left: 5px;
    }

    .cate_select_input{
      width: 220px;
      float: left;
      text-align: left;
      border: 0;
      padding-left: 15px;
    }
  }

  .title_input{
    width: 100%;
    height: 50px;
    line-height: 50px;
    outline: none;
    border: none;
    background-color: #fff;
    color: #3d435f;
    font-size: 20px;
    padding: 10px 0 0 10px;
    font-weight: bold;
    &::placeholder{
      color: #3d435f;
      font-size: 20px;
      font-weight: bold;
    }
  }
  .item,
  .price{
    width: 100%;
    height: 40px;
    line-height: 40px;
    padding-left: 10px;
    display: flex;
    font-size: 18px;

    .item_input,
    .price_input{
      padding-left: 10px;
      outline: none;
      border: none;
      background-color: #fff;
      color: #3d435f;
      font-size: 18px;
    }
  }
  .radio_container{
    display: flex;
    .state_container,
    .exchange_container{
      display: flex;
      padding-left: 10px;
      height: 35px;
      line-height: 35px;
      p{
        font-size: 18px;
      }
      input[type=radio]{
        display: none;
      }
      label{
        display: inline-block;
        cursor: pointer;
        height: 35px;
        width: 80px;
        background-color: #fff;
        border: 1px solid #3d435f;
        color: #3d435f;
        line-height: 35px;
        text-align: center;
        font-size:15px;
        border-radius: 5px;
        margin-left: 10px;
      }
      .state_checked_radio,
      .exchange_checked_radio{
        border: 1px solid #f4f6ff;
        background-color: #3d435f;
        color: #f4f6ff;
      }
    } 
  }
  
  .attachment{
    height: 150px;
    margin: 20px 10px;
    display: flex;
    .attach_img_iunput{
      width: 150px;
      height: 150px;
      margin-right: 5px;
      background-color: #f4f6ff;
      border-radius: 5px;
      cursor: pointer;
      input[type="file"] {
        position: absolute;
        width: 0;
        height: 0;
        padding: 0;
        overflow: hidden;
        border: 0;
      }
      .plus_icon{
        width: 50px;
        height: 50px;
        stroke-width: 50px;
        stroke: #f4f6ff;
        color: #3d435f;
        margin: 35px 10px auto;
      }
      .plus_text{
        margin: 0;
        font-size: 15px;
      }
    }
    .img_container{
      position: relative;
      height: 150px;
      width: 150px;
      border-radius: 5px;
      margin: 0 7px;
      overflow: hidden;
      display: flex;
      justify-content: center;
    }
      img{
        border-radius: 5px;
      }
    }
  }

  .x_container{
    position: relative;
    &::after{
      display: block;
      content: " ";
      width: 25px;
      height: 25px;
      background-color: #fff;
      border-radius: 50%;
      position: absolute;
      top: -5px;
      right: -3px;
    }
    .delete_icon{
      z-index: 1;
      opacity: 1;
      cursor: pointer;
      width: 25px;
      height: 25px;
      // stroke-width: 25px;
      // stroke: #f4f6ff;
      color: #3d435f;
      position: absolute;
      top: -5px;
      right: -3px;
      
    }
  }
  
  .ck.ck-editor{
    margin-bottom: 120px;
  }

  .ck.ck-editor__editable:not(.ck-editor__nested-editable) {
    min-height: 42vh;
    max-height: 42vh;
    overflow-y: scroll;
    // border: none;
    border: 0.5px solid rgba(0, 0, 0, 0.2)
  }

  .ck.ck-editor__main>.ck-editor__editable{
    background-color: transparent;
    border-radius: 10px;
    &:focus{
      border: 0.5px solid #3d435f;
    }
  }

  .ck-rounded-corners .ck.ck-editor__top .ck-sticky-panel .ck-toolbar{
    border: none;
    background-color: transparent;
  }

.salebar{
  position: fixed;
  bottom: 0;
  z-index: 1;
  width: 100%;
  height: 80px;
  background-color: #f4f6ff;
  .salebar_btn{
    float: right;
    line-height: 80px;
    .salepage_cancel, .salepage_save{
      background-color: transparent;
      color: #3d435f;
      border: 1px solid #3d435f;
      border-radius: 30px;
      padding: 10px 30px;
      width: 120px;
      height: 40px;
      cursor: pointer;
      font-size: 16px;
    }
    .salepage_save{
      margin: 0 5vw 0 1vw;
      background-color: #3d435f;
      color: white;
    }
  }
}
